# Ignorar arquivos específicos
EstruturaDeDados/Individuais/Estudos/LinkedList/learning.c
EstruturaDeDados/Individuais/Estudos/LinkedList/MainTeste.c
EstruturaDeDados/Individuais/Estudos/DoublyLinkedList/learning.c
EstruturaDeDados/Individuais/Estudos/DoublyLinkedList/MainTeste.c
gitignore